header, nav, footer {
  text-align: center;
}
body {
  background-color: #A9A9A9;
}
h1, h2 {
  color: #FAFAD2;
}
section {
  text-indent: 3em;
}
ul {
  font-size: 1.3em;
  display: inline;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  background-color: gray;
  text-decoration: underline;
}
time {
  font-size: 0.7em;
}
