body {
  font-family: sans-serif;
  font-size: 0.9em;
  line-height: 2em;
}
th {
  border-style: solid;
  border-width: thin;
  border-right: none;
  border-top: none;
  border-color: black;
  font-weight: normal;
  color: white;
  background-color: #54B706;

}
td {
  text-indent: 0.5em;
  border-style: solid;
  border-width: thin;
  border-top: none;
  border-bottom: none;
  border-right: none;
}
tr:nth-child(even) {
  background-color: #ECECD8
}

table {
  border-style: solid;
  border-width: thin;
  border-right: none;
  border-left: none;
}
