body {
  font-family: Verdana;
  font-size: 11px;
}

h1 {
  font-size: 19px;
}

#container {
  width: 780px;
  height: 570px;
  background-color: #F1F1F1;
  padding: 3px;
  border: 1px solid black;
  margin: auto;
}

#left {
  padding-top: 10px;
  width: 140px;
  float: left;
}

#right {
  width: 144px;
  text-align: center;
  float: right;
}

#home {
  font-size: 11px;
  font-weight: bold;
  display: inline;
}

#main {
  width: 480px;
  height: 535px;
  display: inline-block;
  border: 1px solid #808080;
  background-color: white;
  padding: 5px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

nav ul li:first-child {
  font-weight: bold;
  color: #961816;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.previous, .next {
  width: 100px;
  background-color: white;
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 1px 7px;
}

.previous, .next {
  padding: 0px;
  margin: 5px;
}

.previous:before {
  content: "";
  border-color: transparent black;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  display: inline-block;
  width: 0;
  height: 0;
  position: relative;
  left: -20px;
}

.next:after {
  content: "";
  border-color: transparent black;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  display: inline-block;
  width: 0;
  height: 0;
  position: relative;
  left: 30px;
}

header {
  border-bottom: 2px solid #808080;
}

article:first-child {
  font-weight: bold;
}

h4 {
  background-color: #808080;
  color: white;
  padding: 0px 0px 2px 3px;
  margin-top: 5px;
}

#css-image {
  float: left;
  margin-right: 20px;
  margin-bottom: 6px;
}

#first-article {
  font-weight: bold;
}

#main a {
  color: #961816;
  text-decoration: underline;
}

#examples {
  margin-top: 35px;
}

.top-margin {
  margin-top: 10px;
}

#last-article {
  margin-bottom: 10px;
}

#bottom-nav {
  padding: 10px 0px 5px 0px;
  border-top: 2px solid #808080;
  border-bottom: 2px solid #808080;
}

input[type=search] {
  width: 95px;
  height: 20px;
  margin: 10px 0px;
  border: 1px solid #7F9DB9;
}

#search {
  margin: 0px;
}

#right a {
  text-decoration: underline;
  display: block;
  color: #9C2727;
}

#right div {
  border: 1px solid #808080;
  background-color: white;
  padding-bottom: 5px;
  margin-bottom: 2px;
}

#search-button {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #003C74;
  background-color: white;
  font-weight: bold;
  padding: 0px;
}

#web-hosting {
  margin: 0px;
}

#grad {
  color: #00BFFF;
  border: 1px solid #3c7fb1;
  box-shadow: 0 0 1px 1px #FFFFFF inset;
  background: rgb(191,233,255);
  width: 100px;
  display: inline-block;
  margin: 5px 0px;
}
